@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
  .lef-column,
  .right-column {
    width: 100%;
  }
}

h1,p {
  font-family: "Dosis", sans-serif;
}

span {
  color: rgb(59, 197, 17);
}

button {
  background-color: rgb(59, 197, 17); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(14, 163, 46);
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}