<html>
  <head>
    <!--Forecord, MetricShare, DataWizard, StakeMetrics-->
    <title>MetricShare - Data Collector</title>
    <!--<link rel="stylesheet" href="templates/style/home.css" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style/home.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <!--<img src="assets/logo.png" alt="logo" />-->
        <h1>MetricShare</h1>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="left-column">
        <h1>Stock <span>Market </span>Overview</h1>
        <h3>
          Search market data and analyse the performance of your shares and
          investments with the <a href="templates/table.html">click of a button</a>.
        </h3>
        <div class="search-bar">
          <input
            type="search"
            placeholder="Search"
            id="site-search"
            name="q"
            aria-label="Search through site content"
          />
          <!--For design example, redirect to display page. Modify action later-->
          <form action="templates/display.html">
            <button type="submit">Enter</button>
          </form>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dicta
          saepe dolorem cum maxime tenetur accusamus, veniam nesciunt eius vero
          accusantium aut, fuga quibusdam autem molestias voluptas. A, suscipit
          inventore!
        </p>
      </div>
      <div class="right-column">
        <img src="{{ url_for('static', filename='/assets/stocks2.jpeg') }}" alt="stocks-image" />
      </div>
    </div>
  </body>
</html>
