{% extends "base.html" %}

{% block content %}
    <section class="text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" style="background-image: url('../static/assets/stocks3.jpeg')">
        <div class="container">
            <!-- Handling Error Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,msg in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissible fade show" role = "alert">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alter-dismissible fade show" role = "alert">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="d-sm-flex align-items-center justify-content-between" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="left-column">
                    <h1>Stock <span>Market </span>Overview</h1>
                    <h3>
                        Search market data and analyse the performance of your<span> shares </span>and<span>
                    investments </span>with the click of a button.
                    </h3>
                <form method="POST">
                    <div class="search-bar">
                        <input
                        type="search"
                        placeholder="Search"
                        id="site-search"
                        name="user-query"
                        aria-label="Search through site content"
                        />
                        <!--For design example, redirect to display page. Modify action later-->
                        <button class="col-xs-12" type="submit">
                            Enter
                        </button>
                    </div>
                </form>
                    <p>
                        This site does not serve as a financial advice platform. It provides factual data and news articles which may or may not be objective, but that belongs to the author in question. </p>
                </div>
                <div class="right-column">
                    <img src="{{ url_for('static', filename='/assets/scraping.png') }}" alt="stocks-image" class="img-responsive1"/>
                </div>
            </div>
        </div>
    </section>

    {% if result != None %}
        {% if multiple == False %}
            <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center align-items-center text-sm-start">
                <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="left-column">
                            <img class="img-fluid rounded img-responsive1" src={{img}} alt="{{img}}"/>
<!--                            <canvas id="myChart" width="400" height="400"></canvas>-->
<!--                            <script>-->
<!--                            const ctx = document.getElementById('myChart').getContext('2d');-->
<!--                            const labels = Utils.months({count: 7});-->
<!--                            const myChart = new Chart(ctx, {-->
<!--                              labels: labels,-->
<!--                              datasets: [{-->
<!--                                label: 'My First Dataset',-->
<!--                                data: [65, 59, 80, 81, 56, 55, 40],-->
<!--                                backgroundColor: [-->
<!--                                  'rgba(255, 99, 132, 0.2)',-->
<!--                                  'rgba(255, 159, 64, 0.2)',-->
<!--                                  'rgba(255, 205, 86, 0.2)',-->
<!--                                  'rgba(75, 192, 192, 0.2)',-->
<!--                                  'rgba(54, 162, 235, 0.2)',-->
<!--                                  'rgba(153, 102, 255, 0.2)',-->
<!--                                  'rgba(201, 203, 207, 0.2)'-->
<!--                                ],-->
<!--                                borderColor: [-->
<!--                                  'rgb(255, 99, 132)',-->
<!--                                  'rgb(255, 159, 64)',-->
<!--                                  'rgb(255, 205, 86)',-->
<!--                                  'rgb(75, 192, 192)',-->
<!--                                  'rgb(54, 162, 235)',-->
<!--                                  'rgb(153, 102, 255)',-->
<!--                                  'rgb(201, 203, 207)'-->
<!--                                ],-->
<!--                                borderWidth: 1-->
<!--                              }]-->
<!--                            });-->
<!--                            </script>-->
                        </div>
                    <div class="right-column">
                        <h1>Stock Data &bullet; <span>{{result[7]}} ({{result[0]}})</span></h1>
                        <h2>
                            Market Status: <span> {{result[1]}} </span>
                            <br />
                            Current Price: <span>${{result[2]}}</span><br />
                            Open Price: <span>${{result[3]}}</span><br />
                            Close Price: <span>${{result[4]}}</span><br />
                            Market Cap: <span>${{result[5]}}</span><br />
                            Volume: <span>${{result[6]}}</span><br />
                            Day Range: <span>${{result[8]}} - ${{result[9]}}</span><br />
                            {% if result|length == 12%}
                            Year Range: <span>${{result[10]}} - ${{result[11]}}</span><br />
                            {% endif %}
                        </h2>
                    </div>
                </div>
                <div class="p-2">
<!--                    <form method="GET" action='download-csv/hist.csv'>-->
<!--                        <button type="submit">Download CSV</button>-->
<!--                    </form>-->
                    <a href="/download">Download CSV</a>
                </div>
            </section>
        {% else %}
            <section class="bg-dark p-5 p-lg-0 pt-lg-5 text-center align-items-center text-sm-start">
                    <div class="main">
                        <table class="center">
                            <thead>
                                <tr>
                                    <th>Stock Name</th>
                                    <th>Ticker</th>
                                    <th>Current Price</th>
                                    <th>Open Price</th>
                                    <th>Close Price</th>
                                    <th>High</th>
                                    <th>Low</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for stock in result %}
                                <tr>
                                    <td>{{stock[7]}}</td>
                                    <td>{{stock[0]}}</td>
                                    <td>${{stock[2]}}</td>
                                    <td>${{stock[3]}}</td>
                                    <td>${{stock[4]}}</td>
                                    <td>${{stock[9]}}</td>
                                    <td>${{stock[8]}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>>
                    </div>
                    {% if img != None %}
                        <div class="mx-auto p-5">
                            <img class="img-fluid rounded img-responsive1 w-50 h-50" src={{img}} alt="{{img}}"/>
                        </div>
                    {% endif %}
<!--                    <div class="p-2">-->
<!--                        <button type="submit">Download CSV</button>-->
<!--                    </div>-->
            </section>
        {% endif %}
    {% endif %}

    <!-- Boxes -->
    <section class="bg-secondary text-light p-1 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="row text-center">
                <div class="col-md d-flex align-items-stretch">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h1 mb-3>
                                <i class="bi bi-bar-chart-line"></i>
                            </h1>
                            <h3 class="card-title mb-3">Graphs</h3>
                            <p class="card-text">
                                Be in tune with financial trends by following stock market prices aided by visual graphs.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md d-flex align-items-stretch">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h1 mb-3>
                                <i class="bi bi-newspaper"></i>
                            </h1>
                            <h3 class="card-title mb-3">News</h3>
                            <p class="card-text">
                                Read the newsfeed and stay on top of your favorite stocks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-items-stretch">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h1 mb-3>
                                <i class="bi bi-download"></i>
                            </h1>
                            <h3 class="card-title mb-3">Data</h3>
                            <p class="card-text">
                                Download the data we scraped for you and share it with others.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}