{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style/home.css') }}">
    <section class="text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" style="background-image: url('../static/assets/stocks3.jpeg')">
        <div class="container">
            <!-- Handling Error Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,msg in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissible fade show" role = "alert">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alter-dismissible fade show" role = "alert">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="d-sm-flex align-items-center justify-content-between" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="left-column">
                    <h1>Stock <span>Market </span>Overview</h1>
                    <h3>
                        Search market data and analyse the performance of your<span> shares </span>and<span>
                    investments </span>with the click of a button.
                    </h3>
                <form method="POST">
                    <div class="search-bar">
                        <input
                        type="search"
                        placeholder="Search"
                        id="site-search"
                        name="user-query"
                        aria-label="Search through site content"
                        />
                        <!--For design example, redirect to display page. Modify action later-->
                        <button type="submit">Enter</button>
                    </div>
                </form>
                    <p>
                        This site does not serve as a financial advice platform. It provides factual data and news articles which may or may not be objective, but that belongs to the author in question. To search you will have to use the stock tickers rather than the actual stock name!</p>
                </div>
                <div class="right-column">
                    <img src="{{ url_for('static', filename='/assets/scraping.png') }}" alt="stocks-image" class="img-responsive1"/>
                </div>
            </div>
        </div>
    </section>

    {% if result != None %}
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center align-items-center text-sm-start">
            <div class="d-sm-flex align-items-center justify-content-between">
                {% if img != None %}
                    <div class="left-column">
                        <img class="img-fluid rounded float-left" src={{img}} alt="{{img}}" class="img-responsive1"/>
                    </div>
                {% else %}
                    Image couldn't be displayed. :(
                {% endif %}
                <div class="right-column">
                    <h1>Stock Data &bullet; <span>{{result[0]}}</span></h1>
                    <h2>
                        Market Status: <span> {{result[1]}} </span>
                        <br />
                        Current Price: <span>${{result[2]}}</span><br />
                        Open Price: <span>${{result[3]}}</span><br />
                        Close Price: <span>${{result[4]}}</span><br />
                        Market Cap: <span>${{result[5]}}</span><br />
                        Volume: <span>${{result[6]}}</span><br />
                        Day Range: <span>${{result[7]}} - ${{result[8]}}</span><br />
                        Year Range: <span>${{result[9]}} - ${{result[10]}}</span><br />
                    </h2>
                </div>
            </div>
            <div class="p-5">
                <button type="submit">Download CSV</button>
            </div>
        </section>
    {% endif %}

    <!-- Boxes -->
    <section class="bg-secondary text-light p-1 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="row text-center">
                <div class="col-md d-flex align-items-stretch">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h1 mb-3>
                                <i class="bi bi-bar-chart-line"></i>
                            </h1>
                            <h3 class="card-title mb-3">Graphs</h3>
                            <p class="card-text">
                                Be in tune with financial trends by following stock market prices aided by visual graphs.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md d-flex align-items-stretch">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h1 mb-3>
                                <i class="bi bi-newspaper"></i>
                            </h1>
                            <h3 class="card-title mb-3">News</h3>
                            <p class="card-text">
                                Read the newsfeed and stay on top of your favorite stocks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-items-stretch">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h1 mb-3>
                                <i class="bi bi-download"></i>
                            </h1>
                            <h3 class="card-title mb-3">Data</h3>
                            <p class="card-text">
                                Download the data we scraped for you and share it with others.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap</a>,
            <a class="text-white" href="https://www.google.com/finance/">GoogleFinance</a>,
            <a class="text-white" href="https://finance.yahoo.com/">YahooFinance</a>,
            <a class="text-white" href="https://seekingalpha.com/">SeekingAlpha</a>,
            <a class="text-white" href="https://github.com/CaleaD">Github.com/CaleaD</a>
        </div>
    </footer>
{% endblock %}